<h2>Add Shop</h2>
<div class="shops">
<form action="/listavoshop" method="post">

	
		<h1>SHOP NAME</h1>
		<input type="text" name="shoplists" value="">
	

	<button type="submit" >AddShop</button>

    <a href="/listavoshop">Shop List</a>

</form>
</div>