<h2>Best deals</h2>



<div class="listofshops">
    <h1>Menu</h1>
    <ul>
        <li>1 for R6</li>
        <li>3 for R20 </li>
        <li>5 for R 50</li>
        
    </ul>
</div>

<div>
    <form action="/avolist" method="post">
        
        
        <h4>Enter money</h4>

        <label class="price" placeholder= "2.00">Enter Price</label>
        <input type="text" class="avoname" name="avocado" placeholder="enter price">
        <button type="submit"> <a href="/listavo">Shop List</a></button>

    </form>

    <div>
        <a href="/addavo">
                <button type="submit">SHOW ALL SHOPS</button>
        </a>
    </div>
</div>