<div class="avoshopss">
    <h2>List Of  Avocado Shops</h2>
    <div>
        {{#each list}}

        <ul> {{name}}</ul>

        {{/each}}
    </div>
    <a href="/addAvo">
        <button type="submit" >Add Shop</button>
    </a>


</div>